<div class="container">
	<h1 class="text-center well span8 offset2">Chris and Serena</h1>
<%= form_tag submit_path, class: "well span8 offset2" do %>
	<h3 class="text-center">Wedding RSVP Form</h3>
  <%= label_tag :name %>
  <%= text_field_tag :name, params[:name], placeholder: "Who are you?", class: "span8" %>
  
  <%= label_tag :others, "Who will be accompanying you?" %>
  <%= text_area_tag :others, params[:others], placeholder: "List the names of other invitees who will be able to come to the party.", class: "span8", rows: 5 %>
	
	<%= label_tag :notes %>
  <%= text_area_tag :notes, params[:notes], placeholder: "Is there anything else we should know?", class: "span8", rows:  %>


  <div class="submit-button">
    <%= submit_tag "RSVP Me!", class: "btn btn-primary btn-large pull-right" %>
  </div>
<% end %>
</div>